@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

h1 {
    position: absolute;
    text-align: center;
    font-family: Bangers, serif;
    color: yellow;
    -webkit-text-stroke-width: 0.05em;
    -webkit-text-stroke-color: black;
    overflow: hidden;
}

body {
    background-color: rgb(255, 0, 221);
    width: 100vw;
    margin:0;
    height: 100%;
}

img {
    position: absolute;
}

button {
    position: absolute;
    background: none;
    background-origin: none;
    border-style: solid;
    border-color: black;
    color: black;
    background-color: yellow;
    -webkit-text-stroke-width: 0.025em;
    -webkit-text-stroke-color: black;
    font-family: Bangers, serif;
}

input {
    background: none;
    background-origin: none;
    border-style: solid;
}

panel {
    position: absolute;
    background-color: yellow;
    border-style: solid;
    border-color: black;
}
